@charset "UTH-8";
/* 전체 선택자 : 페이지 내의 모든 요소를 선택한다 */
/* 모든 페이지에 공통 적용되는 속성을 설정할때 사용하고
    일반적으로 브라우저의 기본 스타일을 제거할 때 사용한다*/
*{
    margin: 0; /* 요소의 바깥 쪽 공백*/
    padding: 0; /* 요소의 내부 공백*/
    color: gray;
}